a:hover {
    color: #FF00FF;
}

h2:hover {
  color: #FDFDFD;
}

#a:hover, #b:hover, #c:hover, #d:hover, #e:hover, #f:hover, #g:hover, #h:hover, #i:hover, #j:hover, #k:hover, #l:hover, #m:hover{
  color: #FF00FF;
}

#n:hover, #o:hover, #p:hover {
  font-size: 1.6em;
}