h1 {
  font-size: 10em;
  margin: auto;
  margin-top: .2em;
  color: #05B2DA;
  text-align: center;
}

.big-title1 {
  font-family: lobster;
}

.big-title2 {
  font-family: lato;
  font-size: 10em;
  margin: auto;
  color: #05B2DA;
  text-align: center;
}
